<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Easy</title>
    <link rel="stylesheet" href="/css/first.css">
</head>
<body>
  <div class="container">
    <div class="split left"> 
        <p>For admin Login</p>
        <button class="btn"><a href="adminLogin" target="_blank" class="aa">LOGIN</a></button>
        <h2>Not admin? contact with administrators</h2>
    </div>
    <div class="separator"></div>
    <div class="split right">
        <p>For Users Login</p>
        <button class="rbtn"><a href="studentLogin" target="_blank" class="aa">LOGIN</a></button>
        <h2>Don't have an account? <a href="studentSignUp" class="sign" target="_blank" >Signup</a> now!</h2>
    </div>
  </div>
</body>
</html>